apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rspamd.fullname" . }}
  labels: {{- include "rspamd.labels" . | nindent 4}}
data:
{{- if .Values.valkey.enabled }}
  redis.conf: |
    servers = "{{ .Release.Name }}";
  history_redis.conf: |
    servers = {{ .Release.Name }}:6379;
    key_prefix = "rs_history";
    nrows = 200;
    compress = true;
    subject_privacy = false;
  classifier-bayes.conf: |
    backend = "redis";
{{- else }}
  classifier-bayes.conf: ""
{{- end }}
  worker-normal.inc: |
    bind_socket = "*:11333";
  worker-proxy.inc: |
    bind_socket = "*:11332";
    upstream "local" {
      default = yes;
      self_scan = yes;
    }
  dkim_signing.conf: |
    allow_hdrfrom_mismatch_sign_networks = {{ .Values.dkim.allow_hdrfrom_mismatch_sign_networks }};
    allow_username_mismatch = {{ .Values.dkim.allow_username_mismatch }};
    sign_authenticated = {{ .Values.dkim.sign_authenticated }};
    use_domain = {{ .Values.dkim.use_domain | quote }};
    use_esld = {{ .Values.dkim.use_esld }};
    allow_hdrfrom_mismatch = {{ .Values.dkim.allow_hdrfrom_mismatch }};
    {{- if .Values.dkim.domains }}
    domain {
      {{- range $domain := .Values.dkim.domains }}
        {{ $domain.name }} {
            path = "/var/lib/rspamd/dkim/{{ $domain.name }}.{{ $domain.selector }}.key";
            selector = "{{ $domain.selector }}";
        }
        {{- end }}
    }
    {{- end }}
{{- if .Values.milterHeaders }}
  milter_headers.conf: |
{{ .Values.milterHeaders | indent 4 }}
{{- end }}
